*{font-size: 15px;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	font-family: '微软雅黑';
	 
}
a{
	color:#f60;
	cursor: url('http://www.zhubenjie.top/image/z2.cur'),auto;
}
body{
		
		background: url('../image/bar1.png');
		cursor: url('http://www.zhubenjie.top/image/z1.cur'),auto;
}
body>div:first-child{
	line-height: 50px;
	width: 78%;
	margin: 0 auto;
	height: 50px;
}

body>div:first-child>a{
	color:#666;
	margin-right:12px;
}
div.main{
	width: 78%;
	overflow: hidden;
	margin: 10px auto;
	font-family: 'Consolas', "Liberation Mono", 'Menlo', Courier, monospace;
}
div.main>div{
	padding:12px;
	padding-right:none;
	background: #fffcef;
	width: 39%;
	border: 1px solid #ffecd0;
	margin-bottom: 30px;
	border-radius:10px;
}
#goTop{
		display:block;
		width: 87px;height: 128px;
		position: fixed;
		right: 60px;
		bottom: 60px;
		display: none;
		background: url(../image/flag.png);
	
}
div.main>div>p{
padding: 6px ;
}
div.main>div>h2{
	text-align: center;
}
div.main>div:nth-child(even){
	margin-left: 55%;
		padding:12px;
	padding-right:none;
}
.left{
position: absolute;
top: 0;
}
.left ul{
	border-left: 6px solid #f60;
	margin-top: 30px;
	width: 0;
	padding-left: 30px;
	overflow: hidden;transition: all 0.6s;
		}
.left ul:hover{
	width: 160px;
}
.left 	li{
			text-align: center;
			list-style: none;
			width: 160px;
			height: 36px;background: white;line-height: 36px;
		}
@media only screen and (max-width:1366px ) {
	div.main{
		width: 100%;
	}
	div.main>div{
		width: 50%;
	}
	div.main>div:nth-child(even){
		margin-left:46%;
	}
}

@media only screen and (max-width:850px ) {
	body>div:first-child{
	width:100%;
	}
	div.main{
		width: 100%;
	}
	div.main>div{
		width: 96%;
	}
	div.main>div:nth-child(even){
		margin-left: 0%;
	}
	#goTop{
		right:0px;
		bottom: 0px;

	}
}

